pandas
numpy<2
# vaex
pymongo
# pymysqlite
mysql-connector-python
sqlalchemy
PyYAML
psutil
faker
minio
psycopg2
langdetect
googletrans
lingua-language-detector
deep_translator
polars
duckdb
dask[complete]
pyarrow
faker
requests
scikit-learn
streamlit
plotly
langchain
langchain-google-genai
tabulate
python-dotenv
kaleido
matplotlib
seaborn
statsmodels
